@page "/admin"

@rendermode InteractiveServer
@inject NavigationManager Navigation

<style>
    .submit-button {
        position: relative;
        z-index: 10;
    }
</style>

<PageTitle>Admin</PageTitle>

@using System.Globalization
<div class="background-container">
<!-- Contenedor principal -->
<div class="main-container">

    <!-- Encabezado -->
    <header class="page-title-box">
        <h1>SportEvent Manager</h1>
    </header>

    <!-- Caja central -->
    <div class="menu-box">
        <h2>ADMIN</h2>

        <div class="button-group">
            <button class="menu-button primary" @onclick="NavigateToCrearCarrera">
                Crear carreras
            </button>
            <button class="menu-button primary" @onclick="InfoCorredores">
                Información de Corredores
            </button>
            <button class="menu-button success" @onclick="NavigateToSimularCarrera">
                Simular Carrera
            </button>
        </div>
    </div>
</div>
</div>
@code {
    private void NavigateToCrearCarrera()
    {
        Navigation.NavigateTo("/crear_carrera");
    }


    private async Task InfoCorredores(){
        Navigation.NavigateTo("/info_corredores");
    }

    private void NavigateToSimularCarrera()
    {
        Navigation.NavigateTo("/simular_carrera");
    }
}
